/* Default CSS for pages */

* {
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-family:'Roboto',sans-serif;
  line-spacing:150%;
  color:#282828;
}

html,
body {
  background-color: #f0f0f0;
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

h1, h2, h3, h4, h5,.balance {
  font-size: 2rem;
  padding: 20px;
  font-weight:200;
  text-shadow:0 0 0;
}

h2 {
  font-size: 1.7rem;
}

h3,.balance{
  padding:1em 0;
  font-size: 1.5rem;
}

h4 {
  font-size: 1.2rem;
}

p, a {
  font-size: 1.1rem;
}


/* Page Display */
.MAIN {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.MAIN > .HEAD {
  flex: 0 1 auto;
}

.MAIN > .PAGE {
  flex: 1 1 auto;
}

.MAIN > .FOOT {
  flex: 0 1 0;
}

/* Navigation CSS */
.HEAD {
  text-align: center;
  box-shadow:0.5px 1.5px 3px 1px rgb(0 0 0 / 12%);
  background:#F57C00;
  position:relative;
}

nav {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  border-top:1px solid rgba(0,0,0,.05);
  font-size:0px;
}

nav a {
  text-decoration: none;
  padding: 20px;
  margin: 0 auto;
  transition:200ms ease;
  overflow:hidden;
  transform:translate3d(0,0,0);
  font-size:24px;
  width:calc(100%/3);
  display:inline-block;
}

nav a:hover {
  opacity:0.7;
  box-shadow:inset 0 -.2em;
}

nav a:active{
  background:rgba(0,0,0,.12);
}

nav a:after,button:after{
  content:'';
  display:block;
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  pointer-events:none;
  background-image:radial-gradient(circle,#000 10%,transparent 10.01%);
  background-repeat:no-repeat;
  background-position:50%;
  transform:scale(10,10);
  opacity:0;
  transition:transform .5s,opacity 1s;
}
nav a:active:after,button:active:after{
  transform:scale(0,0);
  opacity:.3;
  transition:0s;
}

/* Base Page CSS */
.PAGE {
  padding: 40px;
}

/* Footer CSS */
.FOOT {
  padding: 15px;
  border-top:1px solid rgba(0,0,0,.12);
  font-weight:300;
  text-align: center;
}

/* Page Layouts */
.PAGE > div,
.PAGE.split_1 > div {
  width: 100%;
}

.PAGE.split_2 > div {
  width: 50%;
}

.PAGE.split_3 > div {
  width: 32%;
}

.PAGE[class*="split_"] {
  gap: 20px;
  display: flex;
  justify-content: center;
  background:#f0f0f0;
}

.PAGE[class*="split_"] > div {
  background:#fff;
  box-shadow:0.5px 1.5px 3px 1px rgba(0,0,0,.12);
  height: 100%;
  width: 100%;
}

.PAGE[class*="split_"] > div > h1{
  text-align: center;
}

.wrapper {
  margin: 20px;
}

.balance {
  width: 100%;
  margin-bottom: 20px;
  text-align: center;
  background-color: #00BB0077;
  border-radius:9rem;
}

.balance.expense {
  background-color: #FF000077;
}

.balance.total {
  background-color: #00AAFF77;
  margin-bottom: 0px;
}

form p {
  font-family:Arial, Helvetica, sans-serif;
}

input, select {
  /* text-align: center; */
  width: 256px;
}

td{
  text-align:center;
}
td:not(:last-child){
  padding:1em;
  width:25%;
  text-align:right;
}
form td{
  width:50% !important;
  text-align:left;
}
form tr td:first-child:not([colspan]){
  text-align:right;
}
form td[colspan]{
  text-align:center;
}
#compare td{
  border-bottom:1px solid rgba(0,0,0,.12);
}
#compare tbody tr:nth-child(odd){
  background:rgba(0,0,0,.06);
}

select,input{
  border: none;
  border-bottom:2px solid;
  border-radius: 0;
  transition:200ms;
  padding:.5em;
  width:80%;
  max-width:300px;
  box-sizing: border-box;
  border-radius:2px;
}
select:focus,input:focus{
  box-shadow: inset 0 -2px 0 #F57C00;
  border-bottom-color: #F57C00;
}
select:hover,input:hover{
  background:#f0f0f0;
}
*:focus{
  outline:none;
}
button{
  background:#F57C00;
  border-radius:2px;
  padding:.5em 1em;
  text-transform: uppercase;
  border:none;
  box-shadow:0.5px 1.5px 3px 1px rgba(0,0,0,.12);
  transition:.2s;
  cursor:pointer;
  overflow:hidden;
  transform:translate3d(0,0,0);
}
button:hover{
  box-shadow:0.5px 2.5px 5px 1px rgba(0,0,0,.18);
  background:#FF9800;
}
button:active{
  box-shadow:0.5px 3.5px 7px 1px rgba(0,0,0,.24);
  background:#FFB74D;
}